body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 960px;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.View {
  position: absolute;
  left: 350px;
}

.hidden {
  display: none;
}

#sun {
  stroke: #666;
  fill: #666;
}

.orbit {
  stroke: #eee;
  fill: none;
}
.orbit:hover {
  stroke: #ccc;
  stroke-width: 3;
}

.planet {
  stroke: #666;
  fill: #fff;
}

.moon {
  stroke: #ccc;
  fill: #fff;
}

.ReactTable {
  height: 100vh;
  width: 350px;
}