body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 960px;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.View {
  position: absolute;
  left: 250px;
}

.View>svg {
  background: #000;
}

.hidden {
  display: none;
}

#sun {
  fill: #c00;
}

.orbit {
  stroke: #333;
  fill: none;
}
.orbit.hover {
  stroke: #445;
  stroke-width: 3;
}
.orbit.selected {
  stroke: #558;
  stroke-width: 3;
}

.planet {
  stroke: #fff;
  fill: #fff;
}
.planet.hover {
  stroke: #ccf;
  fill: #ccf;
}
.planet.selected {
  stroke: #88f;
  fill: #88f;
}

.info-card {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 300px;
  color: #fff;
  background-color: #0008 !important;
}
.info-card span {
  color: #fff !important;
}
.info-card-link {
  position: absolute !important;
  right: 8px;
}

.Table {
  width: 250px;
}
.ReactTable {
  height: 95vh;
  font-size: 12px;
}
.select-bar button {
  width: 50%;
}